/*=============================================
GLOBAL
=============================================*/

*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	/*font-family: sans-serif;*/
	box-sizing: border-box;
}
.row{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
	clear:both;
	display:table;
}
[class*="col-"]{
	float:left;
	/*border:1px solid black;*/
	padding:10px;
}
/*=============================================
CABEZOTE
=============================================*/
header #logotipo{
	text-align: center;
	padding:15px;
}
body {
	font-family: "Boogaloo", sans-serif;
}
header #btnMovil span{
	width:40px;
	height:40px;
	text-align: center;
	padding:10px 0;
	margin:10px;
	background:silver;
	cursor: pointer;
}
/*=============================================
BARRA DEL NAVEGADOR
=============================================*/
/* Add a black background color to the top navigation bar */
.topnav {
	margin: 24px;
	overflow: hidden;
	background-color: rgb(235, 235, 235);
	font-weight: bold;
	/*background-color: #e9e9e9;*/
	font-family: sans-serif;
	border-radius: 12px;
}
  /* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: #3F7181;
	text-align: center;
	padding: 12px 12px;
	text-decoration: none;
	font-size: 1.1vw;
	border-radius: 12px;
} 
/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
  
  /* Style the "active" element to highlight the current page */
.topnav a.active {
	background-color: #3F7181;
	color: white;
}
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
	.topnav a, .topnav{
	  float: none;
	  display: block;
	  text-align: left;
	  width: 100%;
	  margin: 0%;
	  padding: 18px;
	}
}
/*=============================================
FORMULARIO
=============================================*/
#formulario {
	position: absolute;
	margin:auto;
	top:30%;
	left:55%;
	width:40%;
	height:auto;
	padding: 2%;
	background:#ddd;
}

#formulario input, #formulario label, #formulario textarea{
	display:block;
	position:relative;
	width:100%;
	padding:10px;
	font-size: 1.5vw;
}
#formulario label span.obligatorio{
	opacity: 0;
	color:#777;
}
/*=============================================
IMAGENES
=============================================*/
#slide20{
	position: absolute;
  	top: 100px;
	z-index: -2;
}
#slide21{
	position: absolute;
	top: 1290px;

}
#aplafa{
	position: absolute;
	top: 1700px;
  	left:3%;
}
#probidsida{
	position: absolute;
  	top: 1700px;
  	left:40%;
}
#who{
	position: absolute;
    top: 1700px;
  	left:65%;
}
#w{
	position: absolute;
  	top: 2300px;
	left: 15%;
	z-index: 5;
}
#f{
	position: absolute;
	top: 2300px;
	left:31%;
	z-index: 5;
}
#i{
	position: absolute;
	top:2300px;
	left:52%;
	z-index: 5;
}
#t{
	position: absolute;
	top:2300px;
	left:73%;
	z-index: 5;
}
#correo{
	position: absolute;
	align-items: center;
	top: 2680px;
	left: 31%;
	z-index: 1;
	font-size: 5vw;
}

/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc 1200 x 640
=============================================*/

@media(min-width:1200px){

	.col-lg-12{width:100%;}
	.col-lg-11{width:91.66666667%;}
	.col-lg-10{width:83.33333333%;}
	.col-lg-9{width:75%;}
	.col-lg-8{width:66.66666667%;}
	.col-lg-7{width:58.33333333%;}
	.col-lg-6{width:50%;}
	.col-lg-5{width:41.66666667%;}
	.col-lg-4{width: 33.33333333%;}
	.col-lg-3{width: 25%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-0 {display:none;}

}

/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
1024 x 640
=============================================*/
@media(max-width:1199px) and (min-width:992px){
	.col-md-12{width:100%;}
	.col-md-11{width:91.66666667%;}
	.col-md-10{width:83.33333333%;}
	.col-md-9{width:75%;}
	.col-md-8{width:66.66666667%;}
	.col-md-7{width:58.33333333%;}
	.col-md-6{width:50%;}
	.col-md-5{width:41.66666667%;}
	.col-md-4{width: 33.33333333%;}
	.col-md-3{width: 25%;}
	.col-md-2{width: 16.66666667%;}
	.col-md-1{width: 8.33333333%;}
	.col-md-0 {display:none;}
    #slide21{
        top: 990px;
    }
    #aplafa{
        top: 1350px;
    }
    #probidsida{
        top: 1350px;
    }
    #who{
        top: 1350px;
    }
    #w{
        top: 1750px;
    }
    #f{
        top: 1750px;
    }
    #i{
        top: 1750px;
    }
    #t{
        top: 1750px;
        width: 36%;
    }
    #correo{
        top: 2100px;
    }
}

/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
960 x 540
=============================================*/
@media(max-width:991px) and (min-width:768px){
	.col-sm-12{width:100%;}
	.col-sm-11{width:91.66666667%;}
	.col-sm-10{width:83.33333333%;}
	.col-sm-9{width:75%;}
	.col-sm-8{width:66.66666667%;}
	.col-sm-7{width:58.33333333%;}
	.col-sm-6{width:50%;}
	.col-sm-5{width:41.66666667%;}
	.col-sm-4{width: 33.33333333%;}
	.col-sm-3{width: 25%;}
	.col-sm-2{width: 16.66666667%;}
	.col-sm-1{width: 8.33333333%;}
	.col-sm-0 {display:none;}

    #textoinicio4{
        top:230px;
    }
    .topnav a {
        font-size: 1.4vw;
    } 
    #formulario{
        top:20%;
    }
    #formulario input, #formulario label, #formulario textarea{

        font-size: 1.9vw;
    }
    #slide21{
        top:730px
    }
    #aplafa{
        top: 1050px;
    }
    #probidsida{
        top: 1020px;
    }
    #who{
        top: 1030px;
    }
    #w{
        top: 1320px;
        width:14%;
    }
    #f{
        top: 1320px;
        width:20%;
    }
    #i{
        top: 1320px;
        width:17.8%;
    }
    #t{
        top: 1320px;
        width: 39%;
    }
    #correo{
        top: 1600px;
        font-size: 9vw;
        left:20%;
    }
    
}

/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
320x569
=============================================*/

@media(max-width:767px){

	.col-xs-12{width:100%;}
	.col-xs-11{width:91.66666667%;}
	.col-xs-10{width:83.33333333%;}
	.col-xs-9{width:75%;}
	.col-xs-8{width:66.66666667%;}
	.col-xs-7{width:58.33333333%;}
	.col-xs-6{width:50%;}
	.col-xs-5{width:41.66666667%;}
	.col-xs-4{width: 33.33333333%;}
	.col-xs-3{width: 25%;}
	.col-xs-2{width: 16.66666667%;}
	.col-xs-1{width: 8.33333333%;}
	.col-xs-0 {display:none;}

    .topnav a {
        font-size: 5vw;
    } 
    #slide20{
        top: 110px;
    }
    #formulario{
        top: 140px;
        left:35px;
        width:250px;
        z-index: -2;
    }
	#formulario input, #formulario label, #formulario textarea{
        font-size: 4vw;
    }
    #slide21{
        top:580px
    }
    #aplafa{
        top: 820px;
    }
    #probidsida{
        top: 810px;
    }
    #who{
        top: 820px;
    }
    #w{
        top: 935px;
        width:14%;
    }
    #f{
        top: 935px;
        width:20%;
    }
    #i{
        top: 935px;
        width:17.8%;
    }
    #t{
        top: 935px;
        width: 39%;
    }
    #correo{
        top: 1050px;
        font-size: 9vw;
        left:20%;
    }

}